body{
  font-family: "Oxygen",Serif;

}
.wrapper
{
	padding-top: 40px;
	min-height: 150px;
	background-color: #2C4162;
}

nav ul li a
{
	font-size: 18px;
	color: #fff;	
}

img.about-img
{
	margin-right: 15px;
	margin-top: 10px;
	float: left;

}

form {
	margin: 40px auto;
	border: 1px solid #bebebe;
	border-radius: 5px;
	padding: 10px;
}

form h3{
	color: #2C4162;

}
form input.form-control
{
	background-color:rgba(190,190,190,0.1);
}
form button.btn{
	color: #fff;
	background-color: #0088CE;
	border: none;
}

.new-account a.btn{
	color: #fff;
	background-color: #0088CE;
	border: none;
	
}
.forget-password{
	color: #2C4162;
	padding-right:10px;
}
footer
{	
	min-height: 150px;
	color: #fff;
	background-color: #2C4162;
	padding-top: 50px;
}

footer span
{
	font-size: 18px;
}

.mail a.btn
{
	border: none;
	color: #fff;
	background-color: #0088CE;
}