
body{
  font-family: "Oxygen",Serif;

}
.hero{
	background-image: url("../images/banner.png");
	min-height: 600px;
	background-size: cover;
  padding-bottom: 20px;
}
.header{
  padding-top: 40px;
}

.navbar-default
{
  font-size: 18px;
  /*background-color: rgba(255,255,255,0.2);*/
  border: none;
  background: transparent;
  color:#AADFE5; 
}

.welcome-text{
  text-align: center;
  color: #aadfe5;
  margin:50px 0px;
  font-family: "Nunito",Serif;
  padding-top: 60px;

}
.navbar-default .navbar-nav>li>a
{
  color: #fff;
}
.nav>li{
  display: inline-block;
}
.nav>li>a.btn{
  margin-left: 10px;
}

.main_heading
{
  color: #fff;
  font-size:50px;
}
.sub_heading
{
  color: #fff;
  font-size: 25px;
}

.popular-hotel{

  text-align:center;
   padding: 25px 0px 25px 0px;
}

.top-hotel span
{
  font-size: 20px;
 /* font-weight: bold;*/
}

.search-form{
  background: rgba(255,255,255,0.5);
  padding:20px;

}
.search-form label{
  font-weight: normal;
}
.form-control
{
  border: none;
  border-radius: 2px;
}
.form-group button.btn{
  color: #fff;
  background-color: #0088CE;
  border:none;
}

#checkin_date
{
  background: #fff url("../images/calender.png") right 5px center no-repeat;
  background-size: 18px; 
}

#checkout_date
{
  background: #fff url("../images/calender.png") right 5px center no-repeat;
  background-size: 18px; 
}

.night img
{
position: relative;
}
.night span
{
  color: #fff;
  position: absolute;
  right: 30px;
  top: 11px;
  /*bottom: 10px;*/
}

.hotel-proile img
{
  width:100%;
}
.hotel-proile{
  padding-bottom: 20px;
}

.top-hotels span
{
  font-size: 20px;
}
.top-hotels h1
{
  padding: 20px 0px;
  text-align: center;
  color:#337AB7;
}



footer
{ 
  min-height: 150px;
  color: #fff;
  background-color: #2C4162;
  padding-top: 50px;
}

footer span
{
  font-size: 18px;
}

.mail a.btn
{
  color: #fff;
  background-color: #0088CE;
  border:none;
}

/*About us starts*/
