@import url("base/base.css");
@import url("layout/header.css");
@import url("layout/banner.css");
@import url("layout/footer.css");
@import url("module/search.css");
@import url("module/top-hotel.css");
@import url("module/form.css");

.wrapper
{
	padding-top: 40px;
	min-height: 150px;
	background-color: #2C4162;
}

.hero{
	background-image: url("../images/banner.png");
	min-height: 600px;
	background-size: cover;
  padding-bottom: 20px;
}
nav ul li a
{
	font-size: 18px;
	color: #fff;
}
.new-account a.btn{
	color: #fff;
	background-color: #0088CE;
	border: none;

}
input#description{
	min-height: 100px;
}
img.about-img
{
	margin-right: 15px;
	margin-top: 10px;
	float: left;

}
.hotel-detail{
  margin-bottom: 20px;
  padding: 20px;
  min-height: 240px;
  background-color: rgba(220,213,213,0.8); ;
}
