.welcome-text{
  text-align: center;
  color: #aadfe5;
  margin:50px 0px;
  font-family: "Nunito",Serif;
  padding-top: 60px;

}
.main_heading
{
  color: #fff;
  font-size:50px;
}
.sub_heading
{
  color: #fff;
  font-size: 25px;
}
